.main{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}

.main_base {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_base_img {
    height: 100%;
}


@media screen and (max-width: 370px) {
    .main_base {
        width: 350px;
 }
}

@media screen and (max-width: 768px) {
    .main_base {
        width: 768px;
 }
}
