.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #2d3142;
    height: 100px;
    flex-shrink: 0;
  }

@media screen and (max-width: 768px) {
    .footer {
      width: 768px;
     }
  }
@media screen and (max-width: 370px) {
    .footer {
      width: 350px;
     }
  }

.footer_content {
    color: #BFC0C0;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
    font-family: 'IBM Plex mono', sans-serif;
}

.footer_content_copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.copyright {
    border: 0.5px solid #BFC0C0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: relative;
}

.copyright_c {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 13px;
}

.phone {
    text-decoration: none;
    color: #BFC0C0;
}

