.navigate {
  width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-items: center;
  background-color: #2d3142;
  padding: 20px;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  scrollbar-color: #4f5d75 #f7f7f8;
  scrollbar-width: thin;
}

.navigate > * {
  margin-bottom: 10px;
}

.addCard {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  border: 2px dashed #fff;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.addCard:hover {
  background-color: #f47c2b;
  border-color: #f47c2b;
}

.addCardIcon {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease;
}

.addCard:hover .addCardIcon {
  color: #1c1c21;
}

@media screen and (max-width: 768px) {
  .navigate {
    width: 768px;
  }
}
@media screen and (max-width: 370px) {
  .navigate {
    width: 350px;
  }
}
