.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #ffffff;
  color: #000000;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2f2f37;
}

::-webkit-scrollbar-thumb {
  border: 3px solid #8585ad;
  background: #8585ad;
}
