.main_base {
    /* height: 100%; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D3142;
    margin-top: 20px;
}

.main_base_img {
    width: 95%;
    border-radius: 2px;
}

@media screen and (max-width: 768px) {
    .main_base {
        width: 768px;
    }
}

@media screen and (max-width: 370px) {
    .main_base {
        width: 350px;
    }

    .main_base_img {
        width: 350px;
    }
}
