.header {
    background-color: #2D3142;
    min-height: 160px;
    display: flex;
    align-items: center;
  }

  .header_content {
    display: grid;
    grid-template-columns: min-content 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 40px;
    width: 100%;
    font-family: 'IBM Plex mono', sans-serif;
  }

@media screen and (max-width: 768px) {
.header_content {
    grid-template-columns: min-content;
    grid-template-rows: repeat(2, min-content);
    gap: 5px;
    padding: 0 20px;
}

.header {
  width: 768px;
 }
  }

  @media screen and (max-width: 370px) {
    .header {
      width: 350px;
     }
  }


  .logo {
    color: #ffffff;
    font-size: 26px;
    line-height: 18px;
  }

  .menu {
    display: flex;
    justify-self: end;
    align-self: center;
    gap: 15px;
  }

  .link {
    text-decoration: none;
    color: #ffffff;
  }

  .link:hover {
    text-decoration: underline #BFC0C0;
    text-underline-offset: 3px;
    color: #BFC0C0;
  }

  .link:focus {
    color: #EF8354;
    font-weight: 700;
  }

  .form {
    display: flex;
    justify-self: center;
    width: 100%;
  }

  .input {
    width: 100%;
    border-radius: 1px;
    border: 1px solid #ffffff;
  }

  .input:focus {
    outline: none;
    border-radius: 1px;
    border: 1px solid #EF8354;
    color: #2D3142;
  }

  .button {
    background-color: #EF8354;
    border-radius: 1px;
    border: 1px solid #EF8354;
    color: #2D3142;
    cursor: pointer;
  }
  .button:hover {
    background-color: #BFC0C0;
    border: 1px solid #BFC0C0;
  }

  .link_logo {
    position: relative ;
    text-decoration: none ;
  }
  .logo:hover {
    color: #BFC0C0;
  }

  .link_logo:hover::after {
    content: "Добавить логотип";
    text-align: center;
    position: absolute ;
    top: 50px;
    left: -12px;
    min-width: 90px ;
    border: 1px #EF8354 solid ;
    padding: 4px ;
    color: #2D3142;
    background-color: #EF8354;
    z-index: 1;
    font-size: 10px;
    border-radius: 1px;
  }
