body {
  margin: 0;
}
.containerMain {
    width: 100%;
    /* height: 100vh; */
    /* height: 100%; */
    margin: 5px auto; 
    background-color: #2D3142;
  }
  .main_hp {
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 10px;
    height: calc(100vh - 170px);
  }

  .navigate_scroll {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: #4F5D75 #f7f7f8;
    scrollbar-width: thin;
  }

  .main {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: top;
    overflow: hidden;
    background-color: #2D3142;
    }

    .main_cards {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-start;
      gap: 15px;
      margin-top: 20px;
      padding-bottom: 20px;
      width: 100%;
      overflow-y: auto;
      scrollbar-color: #4F5D75 #f7f7f8;
      scrollbar-width: thin;
  }

  @media screen and (max-width: 768px) {
    .main_hp {
      grid-template-columns: 1fr;
      grid-template-rows: min-content 1fr;
      gap: 10px;
    }
  }

  @media screen and (max-width: 370px) {
    .containerMain {
      width: 350px;
    }
    .main_hp {
      grid-template-columns: 350px;
      grid-template-rows: min-content 1fr;
      gap: 10px;
    }
  }
